<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fettle.iiitd.com.fettle">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Classes.Fettle"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <action android:name="fettle.iiitd.com.fettle.Activities.LandingActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Activities.ProfileInput" />
        <activity android:name=".Activities.CaloriesGraph" />
        <activity
            android:name=".Activities.DayOverview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.RestrauntMenuList" />
        <activity android:name=".Activities.RestrauntList" />
        <activity android:name=".Activities.SignUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OnBoardingActivity" />
        <activity android:name=".Activities.CustomCalendar" />
        <activity android:name=".Activities.AddFoodActivity"></activity>
        <activity android:name=".Activities.FoodTypeSelection"></activity>
        <activity android:name=".Activities.NewItem"></activity>
        <activity android:name=".Activities.FoodOrderCategory"></activity>
        <activity android:name=".Activities.RecommendationActivity"></activity>
        <activity android:name=".Activities.AddedFoodOrderItemsActivity"></activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Pushreceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="fettle.iiitd.com.fettle" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
